<!-- /*
Suite à la création d'un composant 'home' – qui sert désormais de landing –
il nous faut transférer le code nécessaire depuis différents fichiers :
– "app.component.ts" vers le fichier "home.component.ts" nouvellement mis en place
– "app.component.css" vers le fichier "home.component.ts" nouvellement mis en place
– "app.component.html" (!! SAUF la ligne <router-outlet></router-outlet> !!) vers le fichier "home.component.ts"
*/ -->

<!-- // les 'href' proviennent des routes déclarées dans 'app-routing.module.ts' -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand">Session Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar"></div>
  <ul class="navbar-nav">
    <li><a class="nav-link" href="">Accueil</a></li>
    <li><a class="nav-link" href="adresse">Adresse</a></li>
    <li><a class="nav-link" href="stagiaire">Stagiaire</a></li>
  </ul>
</nav>

<!-- // avec une SPA (Single Page Application), les 'href' deviennent 'routerLink' toujours selon les routes déclarées dans 'app-routing.module.ts' -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand">Session Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar"></div>
  <ul class="navbar-nav">
    <li><a class="nav-link" routerLink="" routerLinkActiveOptions="true">Accueil</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="adresse">Adresse</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="stagiaire">Stagiaire</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="templateform">Formulaire</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="calculette">Calculette</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="reactiveform">Reactive-Formulaire</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="commentsform">Comments-Form</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="commentsformcorrection-bs">CommentsForm-correc BS</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="commentsformcorrectionmaterial">CommentsForm-correc Material-</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="dragdrop">Drag'n'Drop-</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="dashboard">Dashboard-</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="navigation">Navigation-</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="table">Table-</a></li>
  </ul>
</nav>

<!-- /* EXEMPLE de Dropdown Menu avec BOOTSTRAP */ -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a href="#" class="navbar-brand">Session Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar"></div>
  <ul class="navbar-nav">
    <li><a class="nav-link" routerLink="" routerLinkActiveOptions="true">Accueil</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Routing</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="adresse">Adresse</a>
        <a class="dropdown-item" routerLink="stagiaire">Stagiaire</a>
        <a class="dropdown-item" routerLink="calculette">Calculette</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Forms</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="templateform">Templateform</a>
        <a class="dropdown-item" routerLink="reactiveform">Reactive-Formulaire</a>
        <a class="dropdown-item" routerLink="commentsform">Comments-Form</a>
        <a class="dropdown-item" routerLink="commentsformcorrection-bs">CommentsForm-correc BS</a>
        <a class="dropdown-item" routerLink="commentsformcorrectionmaterial">CommentsForm-correc Material</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Material UI</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="dragdrop">dragdrop</a>
        <a class="dropdown-item" routerLink="dashboard">dashboard</a>
        <a class="dropdown-item" routerLink="navigation">navigation</a>
        <a class="dropdown-item" routerLink="table">table</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Modules</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="vehicule/voiture">Voiture</a>
        <a class="dropdown-item" routerLink="vehicule/camion">Camion</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Personnes</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="personne/personnes-list">Liste de Personnes</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Employés</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="employe/employes-list">Liste des Employés</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Interactions</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="pere">Composant Père</a>
        <a class="dropdown-item" routerLink="parent">Composant Parent</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Développeurs & skills</a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" routerLink="developer-component">Liste développeurs</a>
        <a class="dropdown-item" routerLink=""></a>
      </div>
    </li>

    <!-- /* Appel de la fonction de Login */ -->
      <!-- <li><a class="nav-link" (click)="isAuthenticated()">Login</a></li> -->
      <!-- <li><a class="nav-link item" routerLink="auth">Login</a></li> -->

      <!-- /* Appel de la fonction de lougout ici pour la globalité de l'App */ -->
      <!-- <li *ngIf=isConnected()><a class="nav-link" (click)="setLogOut()">Logout</a></li> -->

    <!-- /* !! On peut aussi faire apparaître un bouton sur deux ; si 'Logout', affichage de 'Login' et inversement */ -->
    <!-- /* Option #1 w/ '!'' i.e. not*/ -->
    <li *ngIf=!isConnected()>
      <a class="nav-link grabLink" routerLink="auth">Se connecter</a>
    </li>
    <li *ngIf=isConnected()>
      <a class="nav-link grabLink" (click)="setLogOut()">Se déconnecter</a>
    </li>
    <!-- /* Option #2 w/ 'ng-template' */ -->
    <!-- <div>
      <li *ngIf="isConnected(); then logOut else logIn"> </li>
      <ng-template #logOut>
        <li>
          <a class="nav-link grabLink" (click)="setLogOut()">Se déconnecter</a>
        </li>
      </ng-template>
      <ng-template #logIn>
        <li>
          <a class="nav-link grabLink" routerLink="auth" routerLinkActiveOptions="true">Se connecter</a>
        </li>
      </ng-template>
    </div> -->

  </ul>
</nav>

<!-- /* EXEMPLE de Dropdown Menu avec NGX-BOOTSTRAP */ -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav-brand" href="#">
        <!-- <img src="../assets/img/home/ali-kokab-Yv2HzOr8jAA-unsplash-small.jpg" alt=""> -->
        <!-- <span>Photo by <a href="https://unsplash.com/@_alikokab_?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ali Kokab</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->
      </a>
      <span class="navbar-brand">Session Angular</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown" dropdown>
        <a class="nav-link item dropdown-toggle" dropdownToggle role="button">
          Dropdown w/ ngx-Bootstrap
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="nav-link item" style="color: #000" href="#">Action</a></li>
          <li><a class="nav-link item" style="color: #000" href="#">Another action</a></li>
          <li><a class="nav-link item" style="color: #000" href="#">Something else</a></li>
          <hr>
          <li><a class="nav-link item" style="color: #000" href="#">Separated link</a></li>
          <hr>
          <li><a class="nav-link item" style="color: #000" href="#">One another separated link</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="#" class="nav-link item">Link</a>
      </li>
    </ul>
  </div>
</nav>

<!-- /* !! ATTENTION !! router-outlet DOIT RESTER ICI */ -->
<router-outlet></router-outlet>
