<div class="container">
  <mat-card class="example-card" style="padding: 80px;">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tp Formulaire</mat-card-title>
          <mat-card-subtitle>Chaque element de notre formulaire est un « FormGroup » </mat-card-subtitle>
      </mat-card-header>
  </mat-card>
  <mat-card class="example-card" style="margin-top: 20px;">
      <mat-card-header>
          <div class="row" style="width: 100%;">
              <div class="col-sm">
                  <h1 style="font-weight: bold;">Personne</h1>
                  <form [formGroup]="personneForm" #myForm="ngForm" (ngSubmit)='afficherTout()'>
                      <table class="" cellspacing="0" style="width:100%">
                          <tr>
                              <td>
                                  <mat-form-field style="width:100%">
                                      <input matInput type="number" placeholder="Enter Id" name=id
                                          formControlName="id">
                                      <mat-error
                                          *ngIf="personneForm.controls['id'].invalid && (personneForm.controls['id'].dirty || personneForm.controls['id'].touched)">
                                          <div *ngIf="personneForm.controls['id'].errors?.required">
                                              L'identifiant est obligatoire
                                          </div>
                                      </mat-error>
                                  </mat-form-field>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <mat-form-field style="width:100%">
                                      <input matInput type="text" placeholder="Enter LastName" name=nom
                                          formControlName="nom">
                                      <mat-error
                                          *ngIf="personneForm.controls['nom'].invalid && (personneForm.controls['nom'].dirty || personneForm.controls['nom'].touched)">
                                          <div *ngIf="personneForm.controls['nom'].errors?.required">
                                              Le nom est obligatoire
                                          </div>
                                          <div *ngIf="personneForm.controls['nom'].errors?.erreur">
                                              Premiere lettre en majuscule
                                          </div>
                                      </mat-error>
                                  </mat-form-field>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <mat-form-field style="width:100%">
                                      <input matInput type="text" placeholder="Enter FirstName" name=prenom
                                          formControlName="prenom">
                                      <mat-error
                                          *ngIf="personneForm.controls['prenom'].invalid && (personneForm.controls['prenom'].dirty || personneForm.controls['prenom'].touched)">
                                          <div *ngIf="personneForm.controls['prenom'].errors?.required">
                                              Le prenom est obligatoire
                                          </div>
                                          <div *ngIf="personneForm.controls['prenom'].errors?.erreur">
                                              Premiere lettre en majuscule
                                          </div>
                                      </mat-error>
                                  </mat-form-field>
                              </td>
                          </tr>
                      </table>
                      <br>
                      <br>
                      <button mat-raised-button [disabled]='!personneForm.valid'>Envoyer</button>
                      <br>
                      <br>
                      <div formArrayName="commentaires">
                          <h1 style="display: contents;font-weight: bold;">Commentaires</h1>
                          <button mat-raised-button color="primary" type=button style="margin-left: 10px;"
                              (click)="ajouterCommentaire()">Ajouter commentaire</button>
                          <div *ngFor="let commentaire of commentaires.controls; let i= index">
                              <div class="" [formGroupName]="i">
                                  <table class="" cellspacing="0" style="width:100%">
                                      <tr>
                                          <td>
                                              <mat-form-field style="width:100%">
                                                  <input matInput type="text" placeholder="titre" name="titre"
                                                      formControlName="titre">
                                              </mat-form-field>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <mat-form-field style="width:100%">
                                                  <input matInput type="text" placeholder="contenu" name="contenu"
                                                      formControlName="contenu">
                                              </mat-form-field>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <mat-form-field style="width:100%">
                                                  <input matInput type="text" placeholder="categorie" name="categorie"
                                                      formControlName="categorie">
                                              </mat-form-field>
                                          </td>
                                      </tr>
                                  </table>
                                  <button mat-raised-button color="warn" type=button
                                      (click)="supprimerCommentaire(i)">
                                      Supprimer
                                  </button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-sm">
                  <div>
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Prenom</th>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Commentaires</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let elt of personnes;">
                                  <td>{{ elt.id }}</td>
                                  <td>{{ elt.prenom }}</td>
                                  <td>{{ elt.nom }}</td>
                                  <td *ngFor="let subItem of elt.commentaires">
                                      <p><span style="font-weight: bold;padding-right: 5px;">Titre:</span>{{
                                          subItem.titre }}
                                          <span style="font-weight: bold;padding-right: 5px;">Contenu:</span> {{
                                          subItem.contenu }} <span
                                              style="font-weight: bold;padding-right: 5px;">Catégorie:</span>{{
                                          subItem.categorie }}
                                      </p>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </mat-card-header>
  </mat-card>
</div>

<p>commentsformcorrectionmaterial works!</p>
